.container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 200;
}

.container .item{
    flex-grow: 1;
}

.container .item.item-1{
    background-color: red;
}

.container .item.item-2{
    background-color: blue;
}

.container .item.item-3{
    background-color: green;
}

.container .item.item-4 {
    background-color: yellow;
}